# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [15]:
import pandas as pd
import numpy as np
urls = [
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv',
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv',
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
]


dfs = [pd.read_csv(url) for url in urls]

# Concatenate all DataFrames
combined_df = pd.concat(dfs, ignore_index=True)

# Display the first few rows
combined_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [16]:
combined_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [17]:
# Clean column names
combined_df.columns = (combined_df.columns  
              .str.lower()          
              .str.replace(" ", "_")  
              .str.replace(r"\bst\b", "state", regex=True) 
             )

combined_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state',
       'gender'],
      dtype='object')

In [18]:
combined_df['gender'] = combined_df['gender'].replace({'female': 'F', 'Male': 'M'})

In [28]:
combined_df['education'] = combined_df['education'].replace({'Bachelors': 'Bachelor'})

combined_df['vehicle_class'] = combined_df['vehicle_class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
combined_df.sample(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7303,YX67409,NaN,NaN,Bachelor,8058.659713,25595.0,101.0,0,Personal Auto,SUV,484.80000,California,M
10954,AX71238,NaN,NaN,High School or Below,3963.40327,38096.0,99.0,0,Personal Auto,Two-Door Car,475.20000,California,M
7840,MC69755,NaN,NaN,Bachelor,5678.050167,0.0,76.0,0,Personal Auto,Four-Door Car,364.80000,Washington,F
6048,WC77067,NaN,NaN,College,7821.945982,0.0,114.0,0,Corporate Auto,SUV,914.31553,Nevada,M

In [29]:
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].apply(
    lambda x: int(str(x).split('/')[1]) if isinstance(x, str) and '/' in x else x
)

combined_df['number_of_open_complaints'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: number_of_open_complaints, dtype: float64

In [30]:
combined_df.isnull().sum()

customer                      2937
state                        10007
gender                       10129
education                     2937
customer_lifetime_value       2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
state                         5004
gender                        5004
dtype: int64

In [43]:
missing_data = df.isnull().sum()
missing_data

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [44]:
df['income'] = df['income'].fillna(df['income'].mean())
df['total_claim_amount'] = df['total_claim_amount'].fillna(df['total_claim_amount'].median())

In [45]:
df_cleaned = df.dropna()

In [46]:
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df['state'] = df['state'].fillna(df['state'].mode()[0])
df['education'] = df['education'].fillna(df['education'].mode()[0])

In [47]:
df_cleaned = df_cleaned.drop_duplicates()

In [48]:
missing_data_after = df_cleaned.isnull().sum()
missing_data_after

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [36]:
#open the csv file
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [37]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [38]:
pivot_revenue = df.pivot_table(
    values='total_claim_amount', 
    index='sales_channel', 
    aggfunc='sum'
).round(2)

print(pivot_revenue)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [40]:
pivot_clv = df.pivot_table(
    values='customer_lifetime_value', 
    index='gender', 
    columns='education', 
    aggfunc='mean'
).round(2)

pivot_clv

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [41]:
complaints_summary = df.groupby(['month', 'policy_type'])['number_of_open_complaints'].sum().reset_index()

# Renaming the columns for better readability
complaints_summary.columns = ['Month', 'Policy Type', 'Total Complaints']

# Display the long-format table
complaints_summary

   Month     Policy Type  Total Complaints
0      1  Corporate Auto        443.434952
1      1   Personal Auto       1727.605722
2      1    Special Auto         87.074049
3      2  Corporate Auto        385.208135
4      2   Personal Auto       1453.684441
5      2    Special Auto         95.226817